*{
    margin:0px;
    padding:0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.box-container input{
    display: flex;
    justify-content: center;
    height: 5vh;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
    border-radius: 10px;
    outline: none;
    padding: 2px;
}

.box-container button{
    margin: 10px;
    width: 100px;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background: black;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 16px;
    cursor: pointer;
}

.box-container button:hover{
    transition: background .5s;
    background: rgba(0, 0, 0, 0.6);
}

.output-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    border-radius: 10px;
}